@model IEnumerable<TestMVCApp.Models.RestaurantViewModel>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<p></p>

@*@using (@Ajax.BeginForm(new AjaxOptions
	{
		HttpMethod = "get",
		InsertionMode = InsertionMode.Replace,
		UpdateTargetId = "restaurantsList"
	}))
	{
		<input type="search" name="searchTerm" style="margin-right: 5px"  />
		<input type="submit" value="Search by Name" />
	}*@

<form method="get" data-myOwnAttribute-ajax="true" data-myOwnAttribute-target="#restaurantsList" action="@Url.Action("Index")">
	<input type="search" name="searchTerm" style="margin-right: 5px" data-myOwnAttribute-autocomplete="@Url.Action("Autocomplete")" />
	<input type="submit" value="Search by Name" />
</form>
<p></p>

@Html.Partial("_restaurantsList", @Model)

