@using System.Web.Mvc.Html
@model TestMVCApp.Models.Restaurant

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reviews for @Model.Name</h2>

@Html.Partial("_Review", @Model.Reviews)

<p>
	@Html.ActionLink("Create New", "Create", new { restaurantId = Model.Id })
</p>
<p>
	@Html.ActionLink("Go to Restaurant", "Index", "Restaurant", null, null)
</p>

